<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="assets/style.css">

    <script src="assets/script.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <script>
      var dbTable2 = '<%=dbTableData%>';
    </script>

    <title>Bestandsliste</title>

  </head>
  <body>
    <center><h1 class="header">Bestandsliste</h1></center>
    <div class="decorationhead1"></div>
    <div class="decorationhead2"></div>
    <div class="decorationhead3"></div>

    <center><table id="ta">
      <tr>
        <th>Artikel</th>
        <th colspan = "2">noch Vorhanden</th>
      </tr>

      <!-- hier werden die weiteren zeilen eingefügt -->
    </table></center>

    <center><h1 class="header">Extras</h1></center>

    <center><table id="ta2">
      <tr>
        <th>Artikel</th>
        <th colspan = "2">benötigt</th>
      </tr>

      <!-- hier werden die weiteren zeilen eingefügt -->
    </table></center>



    <div class="center"><button type="button" class="hinzufuegen" onclick="hinzufuegenNeu()">Hinzufügen</button></div>

      <div class="side">
          <center><a class="navigation" href="/">Startseite</a> </center>
          <center><a class="navigation" onclick="aufDBpacken()">Speichern</a> </center>
      </div>

      <script>
        initTableBest();
      </script>

  </body>
</html>
