<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="assets/style.css">

    <script src="assets/script.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <script>
      var dbTable2 = '<%=dbTableData%>';
    </script>

    <title>Bestandsliste</title>

  </head>
  <body>
    <center><h1 class="header">Bestandsliste</h1></center>

    <center><table id="ta">
      <tr>
        <th>Artikel</th>
        <th colspan = "2">noch Vorhanden</th>
      </tr>

      <!-- hier werden die weiteren zeilen eingef체gt -->
    </table></center>

    <center><h1 class="header">Extras</h1></center>

    <button type="button" onclick="hinzufuegen()">Hinzuf체gen</button>

    <button type="button" onclick="buttonSave()">Save</button>

      <div class="side">
          <center> <a class="navi" href="/">Startseite</a> </center>
      </div>

      <div class="side">
          <center> <h class="navi">Artikel Hinzuf체gen </center>
      </div>

      <div class="side">
          <center> <a class="navi" href="einkaufsliste">Best채tigen</a> </center>
      </div>

      <script>
        initTableBest();
      </script>

  </body>
</html>
