<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="assets/style.css">

    <script src="assets/script.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <script>
      var dbVal = '<%=dbValues%>';
    </script>


    <title>Einkaufsliste</title>

  </head>
  <body>



    <center><h1 class="header">Einkaufsliste</h1></center>

    <center><table>
      <tr>
        <th>Artikel</th>
        <th>zu bestellen</th>
        <th style="width: auto;">noch Vorhanden</th>
        <th style="width: auto;">normaler Bestand</th>
        <th style="width: auto;"></th>
      </tr>

      <tr>
        <td>Äpfel</td>
        <td><button type="button" onclick="buttonRemove(11)">-</button><p id="p11"> 0 </p><button type="button" onclick="buttonAdd(11)">+</button></td>
        <td><p id="pn11">0</p></td>
        <td><p id="pb11">15</p></td>
        <td class="stck">Stck.</td>
      </tr>

      <tr>
        <td>Bananen</td>
        <td><button type="button" onclick="buttonRemove(21)">-</button><p id="p21"> 0 </p><button type="button" onclick="buttonAdd(21)">+</button></td>
        <td><p id="pn21">0</p></td>
        <td><p id="pb21">15</p></td>
        <td class="stck">Stck.</td>
      </tr>

      <tr>
        <td>Möhren</td>
        <td><button type="button" onclick="buttonRemove(31)">-</button><p id="p31"> 0 </p><button type="button" onclick="buttonAdd(31)">+</button></td>
        <td><p id="pn31">0</p></td>
        <td><p id="pb31">20</p></td>
        <td class="stck">Stck.</td>
      </tr>

      <tr>
        <td>Tomaten</td>
        <td><button type="button" onclick="buttonRemove(41)">-</button><p id="p41"> 0 </p><button type="button" onclick="buttonAdd(41)">+</button></td>
        <td><p id="pn41">0</p></td>
        <td><p id="pb41">15</p></td>
        <td class="stck">Stck.</td>
      </tr>

      <tr>
        <td>Gurken</td>
        <td><button type="button" onclick="buttonRemove(51)">-</button><p id="p51"> 0 </p><button type="button" onclick="buttonAdd(51)">+</button></td>
        <td><p id="pn51">0</p></td>
        <td><p id="pb51">5</p></td>
        <td class="stck">Stck.</td>
      </tr>

      <tr>
        <td>Paprika</td>
        <td><button type="button" onclick="buttonRemove(61)">-</button><p id="p61"> 0 </p><button type="button" onclick="buttonAdd(61)">+</button></td>
        <td><p id="pn61">0</p></td>
        <td><p id="pb61">10</p></td>
        <td class="stck">Stck.</td>
      </tr>

      <tr>
        <td>Eisbergsalat</td>
        <td><button type="button" onclick="buttonRemove(71)">-</button><p id="p71"> 0 </p><button type="button" onclick="buttonAdd(71)">+</button></td>
        <td><p id="pn71">0</p></td>
        <td><p id="pb71">5</p></td>
        <td class="stck">Stck.</td>
      </tr>
    </table></center>

      <div class="side">
          <center> <a class="navi" href="/">Startseite</a> </center>
      </div>

      <p></p>

      <div class="side">
          <center> <h class="navi">Exportieren</h> </center>
      </div>

      <p></p>

      <div class="side">
          <center> <h class="navi">Artikel Hinzufügen</center>
      </div>


      <button type="button" onclick="buttonSave()">Save</button>

      <script>
        vonDBladen();
      </script>

  </body>
</html>
