<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="assets/style.css">

    <script src="assets/script.js"></script>
    <script src="assets/generatePdf.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <script>
      var dbTable3 = '<%=dbTableData%>';
    </script>


    <title>Einkaufsliste</title>

  </head>
  <body>

    <h1 class="header">Einkaufsliste</h1>
    <div class="decorationhead1"></div>
    <div class="decorationhead2"></div>
    <div class="decorationhead3"></div>


      <table id="ta">
      <tr>
        <th>Artikel</th>
        <th>zu bestellen</th>
        <th style="width: auto;">noch vorhanden</th>
        <th style="width: auto;">normaler Bestand</th>
        <th style="width: auto;"></th>
      </tr>
      </table>


    <div style="height: 5vh"></div>
    <div class="center"><a class="navigation" href="index.ejs">Startseite</a> </div>
    <div style="height: 5vh"></div>
    <div class="center"><a class="navigation" onclick="demoFromHTML()">Exportieren</a></div>



      <script>
        initTableEink();
      </script>

  </body>
</html>
