<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="assets/style.css">

    <title>Cafeteria</title>

    <script type="text/javascript" src="assets/script.js"></script>

  </head>
  <body>
    <h1 class="header">Cafeteria Manager</h1>
    <div class="decorationhead1"></div>
    <div class="decorationhead2"></div>
    <div class="decorationhead3"></div>

    <div style="height:50px"></div>
    <div class="center"><a class="navigation" href="bestandsliste">Bestandsliste</a></div>
    <div style="height:50px"></div>
    <div class="center"><a class="navigation" href="einkaufsliste">Einkaufsliste</a></div>
    <div style="height:50px"></div>
    <div class="center"><a class="navigation" href="normalerbestand">Normalen Bestand ändern</a></div>



  </body>
</html>
