<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="assets/style.css">

    <title>Cafeteria</title>

    <script type="text/javascript" src="assets/script.js"></script>

  </head>
  <body>
    <h1 class="header">Startseite</h1>
    <div class="decorationhead" style="background-color: #2ab507"></div>
    <div class="decorationhead" style="background-color: #238c09"></div>
    <div class="decorationhead" style="background-color: #247510"></div>
    <center><a class="navi" href="bestandsliste">Bestandsliste</a></center>
    <a class="navigation" href="Bestandsliste.html">Bestandsliste</a>
    <div style="height:50px"></div>
    <a class="navigation" href="Einkaufsliste.html">Einkaufsliste</a>

    <!--<center><a class="navi" href="einkaufsliste">normalen Bestand ändern</a></center>

    -->
  </body>
</html>
