<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="assets/style.css">

    <script src="assets/script.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <script>
      var dbTableNrml = '<%=dbTableData%>';
    </script>

    <title>Normaler Bestand</title>

  </head>
  <body>
    <center><h1 class="header">normaler Bestand</h1></center>
    <div class="decorationhead" style="background-color: #2ab507"></div>
    <div class="decorationhead" style="background-color: #238c09"></div>
    <div class="decorationhead" style="background-color: #247510"></div>

    <center><table id="ta">
      <tr>
        <th>Artikel</th>
        <th colspan = "2">normaler Bestand</th>
      </tr>

      <!-- hier werden die weiteren zeilen eingefügt -->
    </table></center>

    <!--<button type="button" onclick="buttonSave()">Save</button>-->

      <div class="side">
          <center><a class="navigation" href="/">Startseite</a> </center>
          <center><a class="navigation" onclick="updateNrmlBestand()">Bestätigen</a> </center>
      </div>

      <script>
        initTableNrmlBestand();
      </script>

  </body>
</html>
