<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="assets/style.css">

    <script src="assets/script.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <script>
      var dbTableNrml = '<%=dbTableData%>';
    </script>

    <title>Normaler Bestand</title>

  </head>
  <body>
    <center><h1 class="header">Normaler Bestand</h1></center>
    <div class="decorationhead1"></div>
    <div class="decorationhead2"></div>
    <div class="decorationhead3"></div>

    <center><table id="ta">
      <tr>
        <th>Artikel</th>
        <th colspan = "3">normaler Bestand</th>
      </tr>

      <!-- hier werden die weiteren zeilen eingefügt -->
    </table></center>

    <!--<button type="button" onclick="buttonSave()">Save</button>-->
      <div style="height: 5vh"></div>
      <div class="center"><a class="navigation" href="/">Startseite</a></div>
      <div style="height: 5vh"></div>
      <div class="center">
        <div class="navigation" onclick="updateNrmlBestand()">Bestätigen</div>
      </div>
      <div style="height: 5vh"></div>

      <script>
        initTableNrmlBestand();
      </script>

  </body>
</html>
