<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="assets/style.css">

    <title>Cafeteria</title>

    <script type="text/javascript" src="assets/script.js"></script>


  </head>
  <body>
    <h1 class="header">Bestandsiste erfolgreich aktualisiert!</h1>
    <center><a class="navi" href="einkaufsliste">Einkaufsliste</a></center>


  </body>
</html>
